<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body style="overflow: scroll;">

    <br>
    <br>
    <br>

    <div style="width: 80%; text-align: center; margin:auto">
        <hr class="featurette-divider">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

               

            </div>


            <h3>proxima pagina de anuncios</h3>

            <div> explore </div>
           
            <div> entretengase </div>


    </div>
    </section><!-- End About Us Section -->
    </div>







</body>





</html>