<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body style="overflow: scroll;">



  <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-dark" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">


      <div class="carousel-item active" style="background-color: rgb(238, 16, 16);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
          <img src="/img/esferas/rojo.gif" alt="First slide" style="height: 100px;width:100px">
        </div>
        <br>
        <br>
      </div>

      <div class="carousel-item" style="background-color: rgb(5, 190, 67);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <img src="/img/esferas/verde.gif" alt="Second slide" style="height: 100px;width:100px">
        </div>
         <br>
        <br>
      </div>
      <div class="carousel-item" style="background-color: rgb(234, 238, 14);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <img src="/img/esferas/amarillo.gif" alt="Third slide" style="height: 100px;width:100px">
        </div>
         <br>
        <br>
      </div>
      <div class="carousel-item" style="background-color: rgb(8, 4, 226);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <img src="/img/esferas/azul.gif" alt="Third slide" style="height: 100px;width:100px">
        </div>
         <br>
        <br>
      </div>
      <div class="carousel-item" style="background-color: rgb(0, 0, 0);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <img src="/img/esferas/negro.gif" alt="Third slide" style="height: 100px;width:100px">
        </div>
         <br>
        <br>
      </div>
      <div class="carousel-item" style="background-color: rgb(236, 8, 198);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <img src="/img/esferas/rosa.gif" alt="Third slide" style="height: 100px;width:100px">
        </div>
         <br>
        <br>
      </div>
      <div class="carousel-item" style="background-color: rgb(247, 244, 244);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="text-align: center;">
        <img src="/img/esferas/blanco.gif" alt="Third slide" style="height: 100px;width:100px">
        </div>
         <br>
        <br>
      </div>

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  </div>






</body>





</html>