<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body style="overflow: scroll;">

    <br>
    <br>
    <br>

    <div style="width: 80%; text-align: center; margin:auto">
        <hr class="featurette-divider">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Informacion</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p style="text-align: justify;">
                            Buen dia , esta pagina esta hecha con el proposito de ser utilizado como prueba , todas la
                            herramientas de la pagina pueden estar sometidas a fallos,
                            se aconseja tomar la pagina como entretencion y utilizarla responsablemente. ya que la
                            pagina esta en  etapa beta e incluso alfa, se podria realizar mejoras
                            al sistema dependiendo del resultados de las pruebas y la dispocicion del programador y
                            diñador. de antemano se agradece utilizar la pagina, esperamos
                            que pueda entretenerce.


                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> No utilizar la pagina Irresponsablemente</li>
                            <li><i class="ri-check-double-line"></i> Dar a conocer los errores con el programador</li>
                            <li><i class="ri-check-double-line"></i> La mantencion de la pagina no tiene fecha </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p style="text-align: justify;">
                            La pagina es muy intuitiva donde los navegadores y botones son explicitos en lo que
                            realizan, ocupe y explore todo lo que pueda.çç

                            sepa que los diseños de pagina estan hechos de manera simple para poder realizar las pruebas
                            de manera rapida posible , dando a entender que
                            la vista si bien es importante , para el programador es mas importante el funcionamiento,
                            pero esto podria cambiar en un futuro en mantenimientos futuros.


                        </p>

                    </div>
                </div>


                <h3> cosas que me podrian ayudar</h3>

                <div> Informe sobre cualquier error de la pagina</div>
                <div> sugiera cosas que se podrian agregar</div>
                <div> realizar cualquier critica constructiva </div>

            </div>


            <h3> Datos de contacto</h3>

            <div> leonel_24_outlook.com</div>
           
            <div> se Agradece su dispocicion </div>


    </div>
    </section><!-- End About Us Section -->
    </div>







</body>





</html>