<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body style="overflow: scroll;">

  <br>
    <br>
      <br>

  <div style="width: 80%; text-align: center; margin:auto">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="font-family: fantasy;" style="color:rgb(31, 33, 34)">AGREGAR SERVICIO
        </h2>
        <p   style="text-align:justify;font-family:Arial, Helvetica, sans-serif">
         despues de haber creado su empresa , es nesesarios poder agregarle productos o servicios a esta, esta se encontrara como opcion despues
         de crear su empresa, donde por ahora no habra limites de cuantos servicios pueda tener, solo se pedira que al igual que al crear la 
         empresa , se ingrese informacion lo mas real y veras posible.
         
         se destaca que los usuarios podran ver sus servicios vinculados a su empresa.



        


        </p>
      </div>
      

   
      <div   class="hexagonperfil" style="display: flex;" >
        
      
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          alt="Generic placeholder image" src="/img/profileservicio.png">
      </div>
    </div>


   


  

</body>





</html>