<br>
<br>
<br>
{{#if (decicion usuario.idTipop 1)}}

<div class="container">
             
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Administracion General de Maki</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="/img/profileempresa.png"alt="">
                        </div>
                        <h3>Personas</h3>
                        <p>Detalles de tu perfil y configuraciones.</p>
                        <a href="#" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src= "/img/profileempresa.png"alt="">
                        </div>
                        <h3>TipoPersonas</h3>
                        <p>Administracion de Empresa.</p>
                        <a href="#" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                             <img src= "/img/profileempresa.png"alt="">
                        </div>
                        <h3>Empresas</h3>
                        <p>Administracion de servicios.</p>
                        <a href="#" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                              <img src= "/img/profileempresa.png"alt="">
                        </div>
                        <h3>Tipo</h3>
                        <p>Cosas que se pueden realizar.</p>
                        <a href="#" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                             <img src="/img/profileempresa.png"alt="">
                        </div>
                        <h3>Mi perfil</h3>
                        <p>Jerarquia del sistema.</p>
                        <a href="#" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                              <img src= "/img/profileempresa.png"alt="">
                        </div>
                        <h3>Cerrar Session </h3>
                        <p>Asignacion  y tipos de Esferas.</p>
                        <a href="#" class="learn_more">Saber mas</a>
                    </div>
                </div>
            </div>
        </div>




{{else}}



<div class="service_area">
        <div class="container">
             
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>Bienvenido al sistema Maki</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src= "/img/config.png"alt="">
                        </div>
                        <h3>Perfil</h3>
                        <p>Detalles de tu perfil y configuraciones.</p>
                        <a   href="/vistas/usuarioPerfil" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src= "/img/profileempresa.png"alt="">
                        </div>
                        <h3>Agregar Empresa</h3>
                        <p>Administracion de Empresa.</p>
                        <a href="/vistas/empresaPerfil" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                             <img src= "/img/profileservicio.png"alt="">
                        </div>
                        <h3>Agregar Servicio</h3>
                        <p>Administracion de servicios.</p>
                        <a href="/vistas/serviciosPerfil" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                              <img src= "/img/consejos.png"alt="">
                        </div>
                        <h3>Consejos</h3>
                        <p>Cosas que se pueden realizar.</p>
                        <a href="/vistas/consejosProfile" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                             <img src= "/img/funcionamiento.png"alt="">
                        </div>
                        <h3>Funcionamiento</h3>
                        <p>Jerarquia del sistema.</p>
                        <a href="/vistas/funcionamientoProfile" class="learn_more">Saber mas</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                              <img src= "/img/esferas.png"alt="">
                        </div>
                        <h3>Esferas </h3>
                        <p>Asignacion  y tipos de Esferas.</p>
                        <a href="/vistas/esferasPerfil" class="learn_more">Saber mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

 

  
  <div>
    <img src="img/esferas/{{usuario.imagenPersona}}" onerror="this.parentNode.removeChild(this)" style="width: 100px;">
  </div>
{{/if}}