<div class="container-p4">

    <div class="row">
        <div class="cold-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">

                            <input type="number" class="form-control" name="idCuenta" placeholder="idCuenta" autofocus>

                        </div>
                        <div class="form-group">

                            <input type="text" name="nombreProducto" class="form-control" placeholder="nombreProducto">

                        </div>
                         <div class="form-group">

                            <input type="number" name="cantidadProducto" class="form-control" placeholder="cantidadProducto">

                        </div>
                         <div class="form-group">

                            <input type="text" name="descripcionProducto" class="form-control" placeholder="descripcionProducto">

                        </div>
                         <div class="form-group">

                            <input type="date" name="fechaPersona" class="form-control" placeholder="fechaPersona">

                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                save
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </div>


</div>