
<br>
<br>
<br>
<br>
<div class="container p-4" >
    <div class="row" >
        <div class="col-md-4 mx-auto" >
            <div>
                <div class="card text-center" >
                    <div class="card-header">
                        <h3>Verifica tu correo</h3>
                        <div class="card-body">
                            <form action="/exito" method="POST">
                               
                                
                             

                                </div>
                                 <img  src="img/login.png" alt="First slide" style="width: 90px;">

                                 
                            </form>
                          

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>